print even number between 1 to 10 using while

In [1]:
i = 1
while i > 11:
  if i%2==0:
    print(i)
    i+=1

In [2]:
i = 1
while i > 11:
  if i%2==0:
     i+=1
  print(i)

In [3]:
i = 1
while i > 11:
  if i%2==0:
     i+=1
     print(i)

In [4]:
i = 1
while i > 11:
  if i%2==0:
     i+=1
print(i)

1

In [6]:
i = 1
while i < 11:
  if i%2==0:
    print(i)
  i+=1

2
4
6
8
10

hello print 3 times

In [7]:
i  = 0
while i < 3:
  print("hello")
  i+=1

hello
hello
hello

fibbonacci Series

In [9]:
n = 5
i,j = 0,1  # unpacking
c = 0
while c < n:
  print(i)
  i,j=j,i+j
  c+=1

0
1
1
2
3

In [12]:
n = 5
i,j=0,1
for _ in range(n+1):
  print(i)
  i,j=j,i+j

0
1
1
2
3
5

factorial

In [16]:
k = 5
f = 1
c = 1
while c <=k:
  f = f*c
  c+=1
print(f)

120

In [ ]:
l = [1,2,3,"Hello","pune"]
l[1]

In [20]:
l = [1,2,3,"Hello","pune"]
k = []
i = len(l)-1
while i >=0:
  k.append(l[i])
  i-=1
print(k)

['pune', 'Hello', 3, 2, 1]